.Card-list {
	list-style: none;
	padding: 0 20px;
	padding-bottom: 20px;
	width: 100%;
	margin: 0;
}

.Card-list>li {
	/* margin-right: 20px; */
	margin-bottom: 10px;
	display: block;
	overflow: hidden;
	position: relative;
	height: auto;
	background-color: var(--theme-color-faint);
	padding: 0px;
	cursor: default;
	transition: var(--list-transition);
	box-shadow: var(--box-shadow);
	border: 2px solid var(--theme-color);
	border-radius: 8px;
}

.Card-list li.is-clickable {
	cursor: pointer;
}

.Card-content {
	/* border: dashed 2px #668ad8; */
	/*破線 太さ 色*/
	border-radius: 8px;
	padding: 10px;
	float: left;
	width: 100%;
}

.Card-content>.title {
	color: var(--text-color-onBack);
	font-size: 1.1em;
	font-weight: bold;
}

.Card-content>.type {
	color: var(--text-color-onBack);
	font-weight: bold;
}


.keyword {
	display: inline-block;
	background-color: transparent;
	margin: 1px 2px;
	padding: 0 3px;
	text-align: center;
	border-radius: 0;
	height: 1.5em;
	line-height: 1.5em;
	vertical-align: middle;
	text-decoration: none;
	border: solid 1px var(--theme-color);
}

.tag {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background-color: var(--theme-color);

	margin: 3px 4px 0;
	/* 上 右下 左 */

	padding-left: 3px;
	padding-right: 3px;
	padding-top: 0;
	padding-bottom: 0;
	text-align: center;
	border-radius: 3px;
	height: 1.5em;
	color: var(--text-color-onTheme);
	text-decoration: none;
}

/* For devices that actually support hover */
@media (min-width: 750px) and (hover: hover) and (pointer: fine) {
	.Card-list li.is-clickable:hover {
		background-color: var(--background-color);
		box-shadow: var(--box-shadow-hover);
		transform: translateY(-3px);
	}

	.tag-link:hover {
		background-color: var(--theme-color-faint);
		color: var(--theme-color);
	}
}