 .timeline {
     list-style: none;
     width: 100%;
     padding: 0;
 }

 /* for Mobile */
 @media (max-width: 749px) {
     .timeline>li {
         margin-bottom: 10px;
     }

     .timeline>li:nth-child(odd) {
         background-color: var(--background-color);
     }

     .timeline>li:nth-child(even) {
         background-color: color-mix(in srgb, var(--theme-color-faint) 50%, var(--background-color));
     }

     .timeline-date {
         display: flex;
         align-items: center;
     }

     .timeline-content .title {
         color: var(--theme-color);
         font-weight: bold;
         height: 100%;
     }
 }

 /* for Desktop */
 @media (min-width : 750px) {
     .timeline>li {
         display: flex;
         align-items: center;
         position: relative;
         height: auto;
         width: 100%;
         border-top: solid 1px var(--theme-color-faint);
         padding: 10px 0;
         /* 上下のマージンを追加 */
     }

     .timeline>li:last-child {
         border-bottom: solid 1px var(--theme-color-faint);
     }

     .timeline-date {
         width: 140px;
         height: auto;
         display: flex;
         align-items: center;
     }

     .timeline-content {
         flex: 1;
         /* 残りのスペースを占める */

         padding-left: 10px;
         height: auto;
     }

     .timeline-content .title {
         color: var(--theme-color);
         font-size: 1.1em;
         font-weight: bold;
         height: 100%;
     }
 }