.timeline {
    list-style: none;
    padding-top: 20px;
    padding-left: 20px;
    width: 100%;
}

.timeline>li {
    margin-bottom: 20px;
    display: block;
}

.timeline-content span {
    color: var(--theme-color);
    font-size: 1em;
    font-weight: bold;
}

/* for Desktop */
@media (min-width : 640px) {
    .timeline>li {
        overflow: hidden;
        margin: 0;
        position: relative;
        height: auto;
    }

    .timeline-date {
        width: 110px;
        float: left;
        height: auto;
        padding-top: 5px;
    }

    .timeline-date div {
        width: 100%;
        text-align: center;
    }

    .timeline-content {
        width: 75%;
        float: left;
        height: 70px;
        border-left: 3px #e5e5d1 solid;
        padding-left: 30px;
        height: 130px;
    }

    .timeline-content span {
        color: var(--theme-color);
        font-size: 1.5em;
        font-weight: bold;
        height: 100%;
    }

    .timeline-content:before {
        content: '';
        width: 12px;
        height: 12px;
        background: var(--theme-color);
        position: absolute;
        left: 106px;
        top: 9px;
        border-radius: 100%;
    }
}