.Link-list {
	list-style-type: none;
	padding-left: 10px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 10px;
}

.Link-list li {
	cursor: pointer;
	width: fit-content;
	border: 2px solid var(--theme-color);
	border-radius: 8px;
	padding: 10px;
	box-shadow: var(--box-shadow);
	background-color: white;
	transition: var(--list-transition);
}

@media (min-width: 750px) and (hover: hover) and (pointer: fine) {
	.Link-list li:hover {
		box-shadow: var(--box-shadow-hover);
		transform: translateY(-3px);
	}
}