.Link-list {
	list-style-type: none;
	padding-left: 10px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 10px;
}

.Link-list li {
	cursor: pointer;
	width: fit-content;
	border: 2px solid var(--theme-color);
	border-radius: 8px;
	padding: 10px;
	box-shadow: var(--box-shadow);
	background-color: white;
	transition: var(--list-transition);
}

@media (min-width: 750px) and (hover: hover) and (pointer: fine) {
	.Link-list li:hover {
		box-shadow: var(--box-shadow-hover);
		transform: translateY(-3px);
	}
}

.NewsContent {
	list-style: disc;
	padding: 0;
	margin: 0;
}

.NewsContent>li {
	list-style: disc;
	/* デフォルトの黒丸を消す */
	padding: 0;
	margin: 0;
	position: relative;
	padding-left: 2.0em;
	/* テキストの開始位置を調整 */
	margin-bottom: 1.0em;
}