/* For Smartphone */
@media (max-width: 749px) {
	.sidebar {
		display: none;
	}

}

/* For PC */
@media (min-width: 750px) {
	nav {
		display: none;
	}
}

.sidebar-item {
	display: flex;
	cursor: pointer;
	list-style: none;
	margin: 0;
	padding: 20px;
	height: 50px;
	align-items: center;
	background-color: transparent;
	transition: background-color 0.2s ease;
}

.sidebar-item:hover,
.sidebar-item.active {
	background-color: var(--hovar-color);
}