:root {
  --theme-color: #2d445d;
  --hovar-color: #3b627a;
  --back-color: #b0e0e6;

  --text-color-onTheme: #ffffff;
  --text-color-onBack: #000000;

  --smartphone-width: 751px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (min-width: 750px) {
  .App {
    display: flex;
  }
}

/* For smartphone */
@media (max-width: 749px) {
  .App {
    display: block;
  }

}

h1,
h2,
h3 {
  color: var(--theme-color);
}