:root {
  --theme-color: #2d445d;
  --hovar-color: #3b627a;
  --back-color: #b0e0e6;

  --text-color-onTheme: #ffffff;
  --text-color-onBack: #000000;

  --smartphone-width: 751px;
}

.App {
  width: 100%;
  height: 100vh;
  display: flex;
}

/* For smartphone */
@media (max-width: 751px) {
  .App {
    display: block;
  }

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: solid 1px blue; */
}

.Contents {
  height: 100%;
  width: 100%;
}

h1,
h2,
h3 {
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  color: var(--theme-color);
}